*.sln
*dump*
*.opensdf
*.sdf
*.suo
*.pdb
ipch/**/*
*.obj
/recorder/x64/**/*
/recorder/x64/
/recorder/Debug/**/*
/recorder/GeneratedFiles/**/*
/recorder/GeneratedFiles
*.exe
*.ilk
*.pdb
recorder/Debug/
